@model Sirruf.Models.PurchaseCategory

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PurchaseCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID_Category)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ID_Purchase)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID_Purchase)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
